:root {
  --0sc-creatorqsf-theme: #00a0c8;
  --0sc-creatorqsf-theme-rgb: 0, 160, 200;
  --0sc-creatorqsf-gradient: linear-gradient(to right, var(--0sc-creatorqsf-theme), #00a050);
  --0sc-creatorqsf-logo: url("https://qs-f.github.io/branding/logo/3.0.0/logo.svg");

  --0sc-ksktkd623-theme: #e95858;
  --0sc-ksktkd623-theme-rgb: 233, 88, 88;
  --0sc-ksktkd623-gradient: none;
  --0sc-ksktkd623-logo: url("https://theme.fr0mscratch.com.dr-0x.com/committers/logo/ksktkd623.svg");

  --0sc-fukuo-theme: #108040;
  --0sc-fukuo-theme-rgb: 16, 128, 64;
  --0sc-fukuo-gradient: none;
  --0sc-fukuo-logo: url("https://theme.fr0mscratch.com.dr-0x.com/committers/logo/FUKUO.svg");

  --0sc-rmnchef_yu-theme: #222;
  --0sc-rmnchef_yu-theme-rgb: 34, 34, 34;
  --0sc-rmnchef_yu-gradient: none;
  --0sc-rmnchef_yu-logo: url("https://theme.fr0mscratch.com.dr-0x.com/committers/logo/RMNchef.Yu.svg");

  --0sc-owen_g782-theme: #2c60c4;
  --0sc-owen_g782-theme-rgb: 44, 96, 196;
  --0sc-owen_g782-gradient: none;
  --0sc-owen_g782-logo: url("https://theme.fr0mscratch.com.dr-0x.com/committers/logo/OwEn_g782.svg");
}
