:root {
  /* legacy here */
  --0sc-theme: #000;
  --0sc-theme-2: #fff;
  /* legacy end */

  --fr0-theme: #000;
  --fr0-theme-2: #fff;
  --fr0-f0sc-theme: #000;
  --fr0-f0sc-theme-rgb: 0, 0, 0;
  --fr0-f0sc-theme-2: #fff;
  --fr0-f0sc-theme-2-rgb: 255, 255, 255;
  --fr0-f0sc-gradient: none;
  --fr0-f0sc-logo: url("//logo.fr0mscratch.com.dr-0x.com/fr0mscratch/v2/svg/b-square.svg");
}
