:root {
  --fr0-icufes-theme: #e93c58;
  --fr0-icufes-theme-rgb: 233, 60, 88;
  --fr0-icufes-theme-2: #fff;
  --fr0-icufes-theme-2-rgb: 255, 255, 255;
  --fr0-icufes-logo: url("https://img.icu-fes.fr0mscratch.com.dr-0x.com/pattern.svg");
}
