:root {
  /* legacy here */
  --0sc-rmn-theme: #ffa818;
  --0sc-rmn-theme: #ffa818;
  --0sc-rmn-theme-sub: #fd742a;
  --0sc-rmn-theme-2: #fff;
  --0sc-rmn-gradient: linear-gradient(to right, #ffa818, #fd742a);
  /* legacy end */

  --fr0-rmn-theme: #ffa818;
  --fr0-rmn-theme-rgb: 255, 168, 24;
  --fr0-rmn-theme-sub: #fd742a;
  --fr0-rmn-theme-sub-rgb: 253, 116, 42;
  --fr0-rmn-theme-2: #fff;
  --fr0-rmn-theme-2-rgb: 255, 255, 255;
  --fr0-rmn-gradient: linear-gradient(to right, #ffa818, #fd742a);
  --fr0-rmn-logo: url("//logo.fr0mscratch.com.dr-0x.com/ramen/v2/svg/g.svg");
}
